.jumbotron{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(https://lh3.googleusercontent.com/proxy/4snV2F2gLfmDBPXaXUOkF3c9jRqFvK2ku8PE-euhJbDSMpnMYYqV8vIt07uvM-TQ30N7JkxLN_D2NMa7PldmnVH4gIz8anyLu7W-FDxjImKo9LeQ0_kwm28S8iRJRkhcU4Uc2z8hndYjHoUC3IHO5Lgi8ag3p7zbtADGOXncOPJN);
    color: white;
    font-weight: bolder;
    
}

.words{
    background-color: cadetblue;
   margin-left: 620px;
   margin-right: 620px;   
    
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(243, 233, 213);
}

h2{
    background-color: cadetblue;
    color: white;
    text-align: center;
    border-radius: 12px;
}

h3{
    font-style: italic;
    text-align: center;
}